@CHARSET "UTF-8";
html,body,form,fieldset,textarea {
	font: 100%/ 120% Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p,pre,blockquote,ul,ol,dl,address {
	margin: 0;
	padding: 0;
}

li,dd,blockquote {
	margin-left: 1em;
}

form label {
	cursor: pointer;
}

fieldset {
	border: none;
}

input,select,textarea {
	font-size: 100%;
}

a img {
	border: 0px;
}

a {
	color: #666;
}

a:hover {
	color: #333;
}


p {
	width: 100%;
}

img {
	padding: 15px;
	margin-bottom: 0px;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	background: #7b482a url('body.png');
 	color: #444;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	height: 100%;
	line-height: 1.5em;
	margin: center;
	padding: 0;
}

* html .clearfix {
	height: 1%;
	overflow: visible;
}

*+html .clearfix {
	min-height: 1%;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#celek{
margin-left: auto; 
margin-right: auto; 
text-align: left; 
width: 910px;
}

#wrapper{
	width:800px;
	margin:0 auto;
}
#top{
	width: 900px;                                                    
	height: 110px;
	font-size:2em;
	color: #4677c1;
	<!-- text-shadow: #fff 0px 2px 1px; -->
	
}


#logo {
width: 600px;   
float:left; 
padding: 25px 0 0 0;	
display: table-cell;
vertical-align: middle;
}

#container{   /*INCLUDE MENU, OBSAH, SIDEBAR*/
  width:930px;
	background-color: #FFF;
	border-top:1px solid #e5e5e5;
 /* border-left:1px solid #e5e5e5;
  border-right:1px solid #E0E0E0; */
}

#menu2{
  float:left;
  height:25px;
  padding:20px 15px;
  width:915px;
  margin-top:5px;
	
	padding:5px;
	border-bottom:1px solid #4677c1;
	color: #FFF;
}

#menu2 a{
	float:right;
	color: #FFF;
    text-decoration: none;
}

#menu2 a:hover {
text-decoration: underline; color: #FFF
}


#menu {
  background-color:#1C4E71;
  background-image:url(menu-bg.gif);
  background-position:0 0;
  background-repeat:repeat no-repeat;
  border-top-color:#FFFFFF;
  border-top-style:solid;
  border-top-width:0;
  float:left;
  height:25px;
  padding:5px 15px;
  width:900px;
}


#menu ul{
  display: inline;
  list-style: none;
}
#menu a{
	float:left;
	padding: 3px 0 0 0;
	margin-left:10px;
	margin-right:20px;
	color: #FFF;
  text-decoration: none;
}

#menu a:hover {
text-decoration: underline; color: #FFF
}

#home{
	float:center;
	width:500px;
	padding:10px 70px;
}

#home ul{
  display: inline;
  list-style: none;
}

#home a{
	float:left;
	line-height: 18px;	
	margin-right:35px;
	color: #FFF;
  text-decoration: none;
}

#button a {
text-align: center;
padding: 16px 0px 0px 0px;
height: 50px;
width: 180px;
display: block;
color: #fff;
text-decoration: none;
background: url(../images/button.png) no-repeat left 0px;
} 

#button a:hover {
background: url(../images/button2.png) no-repeat left 0px;
color: #fff;
text-decoration: none;
}


#sidebar{
	float:right;
	background-color: #fff;
	width: 200px;
	padding:20px 20px 10px 10px;
	}


#sidebar ul li{
border-bottom:1px solid #E0E0E0;
font-size:0.9em;
margin-bottom:10px;
margin-left:1em;
padding-bottom:10px;
}

#sidebar ul{
list-style-type: none;
}


#content{
	width: 600px;
	float:left;
	min-height:200px;
	padding: 20px;
	background-color: #fff;
 
  
}

#content h1, h2, h3{
	color:#311301;
	font-weight: normal;
	text-shadow: #fff 0px 1px 1px;
 
}


#content h1{
	font-size:1.2em;
	margin-bottom:15px;
  font-weight: bold;
  
}

#content h2{
	font-size:1em;
  margin-top:20px;
	margin-bottom:10px;
  font-weight: bold;
  
    
}
#content p{
	margin-bottom:10px;
  margin-left:15px;
}


#footer {
	background-color:#1C4E71;
    background-image:url(menu-bg.gif);
    background-position:0 0;
    background-repeat:repeat no-repeat;
	clear: both;
	height: 30px;
	width: auto;
	font-size: 12px;
	color: #FFF;
	line-height: 14px;
	background-color: #4677c1;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #000;
	margin-bottom:20px;
}



